/.angular/cache/
/node_modules/
/dist/
/out-tsc/
/*.log
*.iml


# Essentials
node_modules/
dist/
.out-tsc/
coverage/
.eslintcache

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
target/

# Environment files
.env
.env.*

# Husky (optional Git hooks)
.husky/

./notebook_files
./bruno