spring:
  application:
    name: gateway-service
  config:
    activate:
      on-profile: docker
  cloud:
    discovery:
      enabled: true

server:
  port: 8080
  ssl:
    enabled: true
    key-store: /opt/buy-two/secrets/gateway-keystore.p12
    key-store-type: PKCS12
    key-store-password: ${KEY_STORE_PASSWORD}
    key-alias: gateway

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/

logging:
  level:
    org.springframework.security: WARN
