.analytics-container { 
    padding: 1.5rem; 
}

.total-amount { 
    font-size: 2.5rem; 
    font-weight: bold; 
    color: var(--link); 
    margin: 0; 
}

.chart-card { 
    height: 300px; 
    width: 100%;
    position: relative; 
}

.chart-card canvas { 
    max-height: 100%; 
}

.chart-card-pie {
    height: 300px; 
    width: 100%;
    position: relative; 
}

.chart-card-bar {
    height: 300px; 
    width: 100%;
    position: relative; 
}

.best-seller-label {
    position: absolute; 
    top: 40px; 
    right: 10px;
    color: gold; 
    padding: 0.3rem 0.8rem;
    border-radius: 20px; 
    font-weight: bold; 
    font-size: 0.85rem;
    z-index: 10;
    word-wrap: break-word;
}

.product-table { 
    overflow-x: auto; 
    border-radius: 5px;
}  

.product-table td { 
    width: 100%; 
    border-collapse: collapse; 
    background-color: transparent;
    color: var(--text-primary);
}

.table-head  th{ 
    background: var(--primary-dark) !important; 
    color: var(--text-primary); 
}

@media (max-width: 768px) { 
    .total-amount { 
        font-size: 2rem; 
    } 
    .chart-card { 
        height: 200px; 
    }
}