# version: '3.8'

services:
  jenkins:
    build: .
    container_name: jenkins
    restart: unless-stopped
    ports:
      - "9090:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - JAVA_OPTS=-Xmx2048m -Xms1024m
    networks:
      - buy-two-net

volumes:
  jenkins_home:

networks:
  buy-two-net:
    external: true
    name: buy-two_java-jenk_sonarnet
